body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#111827;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:4rem;
}

.btn{
background:#2563eb;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:8px;
}

section{
padding:60px;
}

.card,.project-card{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:12px;
}
